body {
  border: none;
  font-family: "Roboto", sans-serif;
}

.fixed_bg {
  background-color: pink;
  overflow: hidden;
  background-image: url(../images/bgrd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  width: 100%;
}
.fixed_bg img {
  max-height: 100%;
  max-width: 100%;
}
.fixed_bg img:hover {
  transform: scale(1.1);
  transition: 5s;
}

.align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.typewrite {
  text-decoration: none;
}

.typewriter {
  color: black;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 50%;
  left: 10%;
  font-size: 100px;
  word-wrap: wrap;
}

.fixed_hello {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 100px;
  position: fixed;
  top: 35%;
  left: 10%;
}

.sep_bar {
  padding-left: 30px;
}

.heading {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 13%;
  font-size: 30px;
}

.fixed_nav {
  color: grey;
  font-family: "Roboto", sans-serif;
  padding-left: 100px;
  padding-top: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
}
.fixed_nav li {
  display: inline;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 40px;
}
.fixed_nav li a {
  color: black;
  margin: 0 auto;
  text-decoration: none;
  font: helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.3s linear;
}
.fixed_nav li a:hover {
  color: grey;
  font-size: 19px;
}

.bigContactContainer {
  padding-top: 3%;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contactContainer {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

input[type=text], select, textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.bigAboutContainer {
  padding-top: 3%;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1182px) {
  body {
    background-color: rebeccapurple;
    overflow: hidden;
    background-color: url(../images/bgrd_tab.jpg);
  }

  .fixed_bg {
    display: hidden;
  }

  .align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .typewrite {
    text-decoration: none;
  }

  .typewriter {
    color: blue;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    font-size: 80px;
    word-wrap: wrap;
  }

  .fixed_hello {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 80px;
    position: fixed;
  }

  .fixed_nav {
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    padding-left: 100px;
    margin: 0 auto;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .fixed_nav li {
    display: inline;
    justify-content: space-around;
    margin: 0 auto;
    padding-left: 40px;
  }
  .fixed_nav li a {
    color: black;
    margin: 0 auto;
    text-decoration: none;
    font: helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s linear;
  }
  .fixed_nav li a:hover {
    color: grey;
    font-size: 16px;
  }

  img {
    width: 200%;
    max-height: 100vh;
  }
}
@media only screen and (max-width: 730px) {
  body {
    display: none;
  }
}

/*# sourceMappingURL=master.css.map */


