@media only screen and (max-width: 1182px) { // tablet devices
    body{
        background-color: rebeccapurple;
        overflow: hidden;     
        background-color: url(../images/bgrd_tab.jpg);
    }
    .fixed_bg{
        
        display: hidden;
    }

    .align{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .typewrite{
        text-decoration: none;
   }
   .typewriter{
       color: blue;
       font-family: 'Montserrat', sans-serif;
       position: fixed;

       font-size: 80px;
       word-wrap: wrap;
   }

   .fixed_hello{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 80px;
    position: fixed;

}


    .fixed_nav{
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        padding-left: 100px;
        padding-top: 50px;
        margin: 0 auto;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        li{
            display: inline;
            justify-content: space-around;
            margin: 0 auto;
            padding-left: 40px;
            a{
                color: black;
                margin: 0 auto;
                text-decoration: none;
                font: helvetica, sans-serif;
                font-size: 15px;
                font-weight: 300;
                transition: all .3s linear;
            }
            a:hover{
                color: grey;
                font-size: 16px;
            }
        }   
        }

    img{
        width: 200%;
        max-height: 100vh;
    }

}










@media only screen and (max-width: 730px) {
    body{
        display: none;
    }
}